:root {
    --mist-color-primary: #5395FD;
    --mist-color-primary-dark: #4A71B4;
    --mist-color-warning: #FFD83A;
    --mist-color-text-light: #FFFFFF;
    --mist-color-text-dark: #000000f0;
    --mist-color-default-bg: #FFFFFF;
}

:root {
    --mist-radius-sm: 4px;
    --mist-radius-md: 6px;
    --mist-radius-lg: 12px;
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--mist-color-text-dark);
    font-family: Avenir, Helvetica, Arial, sans-serif;
}